/*
Theme Name: SKT Charity
Theme URI: http://www.sktthemes.net/shop/skt-charity/
Author: SKT Themes
Author URI: http://www.sktthemes.net
Description: SKT Charity is a charity WordPress theme which is meant for donation, NGO, Churches, fundraising and non profit websites. It can also be used for business, corporate, agency and portfolio as well as personal and blogging websites. It is compatible with WooCommerce, Contact form 7 and Nextgen gallery among others and is multilingual with compatibility with qTranslate X and is translation ready. It is simple, adaptable, flexible and responsive theme. Demo: http://sktthemesdemo.net/charity/

Version: 1.5
License: GNU General Public License
License URI: license.txt
Text Domain: skt-charity
Tags:orange,black,white,gray,one-column,two-columns,right-sidebar,responsive-layout,custom-background,custom-header,custom-menu,editor-style,featured-images, sticky-post,theme-options,threaded-comments,translation-ready

SKT Charity WordPress Theme has been created by SKT Themes(sktthemes.net), 2016.
SKT Charity WordPress Theme is released under the terms of GNU GPL

SKT Charity is based on underscores theme.
*/
body{ margin:0; padding:0;line-height:20px; font-size:13px; color:#5c5c5c; font-family:Arial, Helvetica, sans-serif; box-sizing:border-box;}
*{ margin:0; padding:0; outline:none;}
img{ border:none; margin:0; padding:0; height:auto}
.wp-caption, .wp-caption-text, .sticky, .gallery-caption, .aligncenter{ margin:0; padding:0;}
p{ margin:0; padding:0;}
a{ text-decoration:none; color:#f25f43;}
a:hover{ color:#b68023;}
ol,ul{ margin:0; padding:0;}
ul li ul, ul li ul li ul, ol li ol, ol li ol li ol{ margin-left:10px;}
h1,h2,h3,h4,h5,h6{ color:#484f5e; font-family:'Roboto', sans-serif; margin:0 0 20px; padding:0; line-height:1.1; font-weight:400; word-wrap:break-word;}
h1{ font-size:30px;}
h2{ font-size:28px;}
h3{ font-size:24px;}
h4{ font-size:20px;}
h5{ font-size:18px;}
h6{ font-size:14px;}
.clear{ clear:both;}
.alignnone{ width:100% !important;}
img.alignleft, .alignleft{ float:left; margin:0 15px 0 0; padding:5px;}
img.alignright, .alignright{ float:right; margin:0 0 0 15px; padding:5px;}
blockquote{ background:url(images/icon_quote.png) no-repeat 20px 22px; padding:15px 15px 15px 60px !important; font-style:italic; color:#888; font-size:14px; line-height:1.5;}
.left{ float:left;}
.right{ float:right;}
.space50{ clear:both; height:50px;}
.space100{ clear:both; height:100px;}
.pagination{display:table; clear:both;}
.pagination ul{list-style:none; margin:20px 0;}
.pagination ul li{display:inline; float:left; margin-right:5px;}
.pagination ul li span, .pagination ul li a, .page-numbers{background:#646262; color:#fff; padding:5px 10px; display:inline-block;}
.pagination ul li .current, .pagination ul li a:hover, .current{background:#f25f43;}

#comment-nav-above .nav-previous, #comment-nav-below .nav-previous{ float:none !important; margin:10px 0;}
ol.comment-list li{ list-style:none; margin-bottom:5px;}
.container{ width:1100px; margin:0 auto; position:relative;}
/*header menu css*/
.toggle{display: block;}
.toggle a{ color:#ffffff; background:url(images/mobile_nav_right.png) no-repeat right center #f25f43; padding:10px 10px; margin-top:5px; font-size:16px; text-align:left;}
.toggle a:hover{color:#ffffff !important;}
.sitenav{display:none;}
.sitenav{ padding:0; text-align:right; float:right;}
.sitenav ul { float:right; margin:0; padding:0; font-family:'Roboto', sans-serif; font-weight:400; font-size:15px; }
.sitenav ul li{ display:inline-block; margin:0; position:relative; text-align:center;}
.sitenav ul li a{ padding:15px 20px; display:block; color:#fff; }
.sitenav ul li ul li{display:block; position:relative; float:none; top:-1px; border-bottom:1px solid #694128;}
.sitenav ul li ul li a{display:block; padding-top:10px; padding-bottom:10px; position:relative; top:1px; text-align:left;  }
.sitenav ul li a:hover, .sitenav ul li.current_page_item a{ color:#f25f43; }

.sitenav ul li ul{display:none; z-index:9999999; position:relative;}
.sitenav ul li:hover > ul{display:block; width:200px; position:absolute; left:0; text-align:left; background-color: rgba(0, 0, 0, 0.1); }
.sitenav ul li:hover ul li ul{display:none; position:relative;}
.sitenav ul li:hover ul li:hover > ul{display:block; position:absolute; left:200px; top:1px;}


/* = header top sign in  css
-------------------------------------------------------------- */
.headertop{ background-color:#fff; color:#fff;}
.widget-left{float:left; padding:14px 0;}
.widget-right{float:right; padding:0 14px; background-color:#f25f43;}
.widget-right .textwidget{ line-height:52px;}

.headerinfo { font:600 14px/24px 'Roboto'; color:#fff; }
.headerinfo a {color:#fff; }
.headerinfo span{  font-size:14px;}
.headerinfo .phoneno{ background:url(images/icon-phone.png) no-repeat left 4px; padding:0 0 0 20px; margin-right:20px;}
.headerinfo .address{ background:url(images/location-icon.png) no-repeat left 4px; padding:0 0 0 15px;}

.heart{ background:url(images/icon-heart.png) no-repeat left 21px; padding:0 15px 0 20px; margin-right:15px; border-right:1px solid #fe927e; line-height:52px; display:inline-block;}
.user{ background:url(images/icon-user.png) no-repeat left 2px; padding:0 0 0 20px;}

.header{width:100%; z-index:999999; background-color: rgba(0, 0, 0, 0.1); position: absolute;  padding:20px 0; }
.innerheader{position:relative; background-color: rgba(29, 14, 0, 1);}
.innerheader, body.blog .sitenav ul li:hover > ul, .innerheader .sitenav ul li:hover > ul{  background-color: rgba(29, 14, 0, 1);}


.logo{float:left; z-index:999; color:#fff; width:30%;}
.logo h1{font-weight:400; margin:0; line-height:36px; color:#fff; text-transform:uppercase;}
.logo h1 span{ color:#f25f43;}
.logo a{ color:#fff;}
.header_right{ float:right; text-align:right; width:70%; color:#fff;}
section#home_slider{ padding:0;}
#FrontBlogPost, #wrapfirst, #wrapsecond{ padding:120px 0;}
h2.section-title {color:#454545; font:300 36px/40px 'Roboto',san-serif; text-align: center; }



/*services section css*/
#pagearea{ background: url(images/section-1-bg.jpg) no-repeat center top; padding:100px 0 85px; color:#fff; background-size:cover;}
.one_four_page{color:#fff; width:19.8%; padding:2% 1.5%; margin-right:1.9%; float:left; margin-bottom:2%; position:relative; border:solid 3px #fff; -webkit-transition:all 0.6s ease-in-out; -moz-transition:all 0.6s ease-in-out;-ms-transition:all 0.6s ease-in-out;-o-transition:all 0.6s ease-in-out;transition:all 0.6s ease-in-out; cursor:pointer; text-align:center; height:auto; min-height:250px;}
.one_four_page:hover{background:#fff; color:#484747;}
.one_four_page h4{ color:#fff; margin:30px 0 10px 0;  letter-spacing:1px;}
.one_four_page h4 a{ color:#fff;}
.one_four_page:hover h4 a{color:#f25f43;}
.one_four_page a.more{ color:#ffffff; margin-top:35px; font-weight:400; font-family:'Roboto'; font-size:15px; display:inline-block; }
.one_four_page:hover a.more{color:#f25f43;}
.one_four_page .thumb_four_icon { max-height:55px; overflow:hidden; margin:0 auto;}
.one_four_page .thumb_four_icon img { width:59px; position:relative; top:0;}
.one_four_page:hover .thumb_four_icon img{top:-57px;}
.one_four_page .thumb_four_page img{vertical-align:middle; position:relative; width:auto; height:55px;}


a.ReadMore{ background-color:#f25f43; color:#fff ; padding:5px 15px; font:normal 18px/22px 'Roboto'; text-transform:uppercase; -moz- border-radius:3px; -webkit- border-radius:3px; border-radius:3px;}
a.ReadMore:hover{ background-color:#d72503; color:#fff; }


/* = Services section css
-------------------------------------------------------------- */
.last_column{clear:right; margin-right:0 !important; }
.MoreLink{ background-color:#262626; color:#fff ;display: inline-block; padding:6px 15px;}
.welcomewrap img{ float:left; margin:8px 30px 0 0;}
.welcomewrap h2{  margin-bottom:20px; font-size:38px; }
.welcomewrap h2 span{ color:#f25f43;}

.donatebtn{ background-color:#323233; color:#fff ; padding:6px 15px; display:inline-block; font:600 14px/22px 'Roboto'; -moz- border-radius:3px; -webkit- border-radius:3px; border-radius:3px; margin-top:30px;}
.donatebtn:hover{ background-color:#f25f43; color:#fff ;}


/* = social icons css
-------------------------------------------------------------- */
.social-icons a{ background-color:#333 !important; color:#fff; width:35px; height:35px; line-height:35px; text-align:center;  vertical-align:middle; display:inline-block; transition:0.6s; -moz-transition:0.6s; -webkit-transition:0.6s; -o-transition:0.6s;  margin:0 3px 0 0; padding:0; border-radius:50%; }
.social-icons br{ display:none;}
.social-icons a:hover{ background-color:#f25f43 !important; color:#fff;}
.social-icons .fb{ background:url(images/icon-fb.png) no-repeat center center; }
.social-icons .tw{ background:url(images/icon-tw.png) no-repeat center center; }
.social-icons .gp{ background:url(images/icon-gp.png) no-repeat center center;}
.social-icons .in{ background:url(images/icon-in.png) no-repeat center center;}

/* = Page lay out css
-------------------------------------------------------------- */
.site-main{ width:740px; margin:0; padding:0; float:left;}
#sitefull{ width:100%; float:none;}
#sitefull p{ margin-bottom:15px;}
.page_content{ padding:25px 0;}
.page_content p{ margin-bottom:20px; line-height:20px;}

.blog_lists{ margin-bottom:30px; }
.blog_lists h3{ margin-bottom:0px; text-transform:none;}
.blog_lists h3 a{ color:#484f5e;}
.blog_lists h3 a:hover{ color:#f25f43;}
.blog_lists p{ margin-bottom:10px;}
.blog-meta{ font-style:italic; margin-bottom:8px;}
.post-date, .post-comment, .post-categories{ display:inline; color:#000000;} 
.single_title{ margin-bottom:5px;}
.BlogPosts{ width:31.2%; float:left; margin:0 3% 0 0;}
.BlogPosts img{ width:100%;}
.BlogPosts h3{ margin:10px 0; font-size:22px; }
.post-thumb{ width:30%; float:left; margin:5px 25px 5px 0;}
.blog_lists .donatebtn{ margin-top:10px;}

/* = sidebar
-------------------------------------------------------------- */
#sidebar{ width:330px; float:right;}
aside.widget{margin-bottom:30px; background-color:#f6f4f4; padding:20px; border:1px solid #edecec;}
aside.widget ul{ list-style:disc; }
h3.widget-title{ background-color:#f25f43; padding:12px 15px; margin-bottom:1px; color:#fff;}
h3.widget-title a{color:#FFF;}
#sidebar ul li{list-style:none; word-wrap:break-word; border-bottom:1px dashed #d0cfcf; display:block; line-height:35px;}
#sidebar ul li a{ background:url(images/sidebar-arrow.png) no-repeat 0 14px; padding:10px 0 10px 20px; color:#3b3b3b;}
#sidebar ul li a:hover{ color:#34c6f6;}
#sidebar ul li:last-child a{ border:none;}

#sidebar select{height:25px; width:280px !important;}
select option{width:280px !important;}
#sidebar table{width:100%;}
#sidebar table td, #sidebar table th{text-align:center;}
#recentcomments li a{background-image:none !important; padding:0 !important;}
.search-form input[type="search"], .search-form input[type="text"]{width:80%; height:20px; padding-left:5px;}

/* = Footer css
-------------------------------------------------------------- */
#footer-wrapper{ background-color:#202020; position:relative; color:#fff; }
.cols-3{width:30.4%; float:left; margin:0 40px 0 0; border-right:1px solid #333536; min-height:320px; }
.widget-column-3 { margin-right:0px !important; border-right:none;}
.columnfix{ padding:45px 40px 45px 0;}
.cols-3 h5{ font-weight:400; font-size:24px; color:#fff; margin-bottom:30px; text-transform:uppercase; }
.cols-3 h5 span{ font-weight:300; color:#f25f43; }
.cols-3 ul{ margin:0; padding:0; list-style:inside disc;}
.cols-3 ul li { display:block; padding:0;}
.cols-3 ul li a { color:#fff; font:normal 12px/24px Arial, Helvetica, sans-serif; background:url(images/list-arrow.png) no-repeat 0 2px; padding:0 0 0 20px;}
.cols-3 ul li a:hover, .cols-3 ul li.current_page_item a { color:#dd5145; }

.cols-3 a.readmore span{ color:#fff;}
.cols-3 p{ margin-bottom:15px;}
cols-3 h5{color:#fff;}
.phone-no{ margin:10px 0 20px; line-height:22px;}
.phone-no a{color:#d6d6d6;}
.phone-no a:hover{color:#d6d6d6;}
.phone-no strong { display:inline-block; color:#f25f43;}
.cols-3 .phone-no p{ margin-bottom:0;}
.widget-column-2 a{font:400 20px/24px 'Roboto',san-serif;}

/*footer recent post*/
div.recent-post{ margin:0px; padding:0px; list-style:none;}
div.recent-post { display:block; line-height:18px; padding:0 0 15px 0px; background:none; margin-bottom:15px; border-bottom:#333 1px dashed;}
div.recent-post  img { float:left; margin:5px 15px 0 0; border:#333 solid 3px;}
div.recent-post span {font-size:11px; color:#8498a4; display:block; margin-top:5px;}
div.recent-post a {text-decoration:none; background:transparent;}
div.recent-post  a:hover { text-decoration:none;}
div.recent-post:last-child { border-bottom:0; padding-bottom:0; margin-bottom:0;}
div.recent-post p{ display:inline; line-height:22px; margin:0;}

.copyright-wrapper {  background-color:#000000; border-top:1px solid #333536; position:relative; padding:15px 0;}
.copyright-txt { float:left;}
.copyright-txt span{color:#f25f43;}
.design-by { float:right;}
.recent-post{ min-height:70px; margin:0 0 20px 0;}
.recent-post img{ float:left; width:60px; margin:3px 10px 5px 0;}
.recent-post h6{ font-size:15px; color:#fff; margin:0 0 5px; font-weight:600;}
.recent-post h6:hover{color:#34c6f6;}
.recent-post:last-child{ border-bottom:none; margin-bottom:0; padding-bottom:0;}

/* Buttons */
.button{ background-color:#ff6565; border-bottom:4px solid #e44545; color:#fff; padding:8px 20px; display:inline-block; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; -o-border-radius:2px; -ms-border-radius:2px; }
.button:hover{background-color:#34c6f6; border-color:#1898c2; color:#fff;}

/* woocommerce CSS
================================================*/
a.added_to_cart{background:#e1472f; padding:5px; display:inline-block; color:#fff; line-height:1;}
a.added_to_cart:hover{background:#000000;}
a.button.added:before{content:'' !important;}
#bbpress-forums ul li{padding:0;}
#subscription-toggle a.subscription-toggle{padding:5px 10px; display:inline-block; color:#e1472f; margin-top:4px;}
textarea.wp-editor-area{border:1px #ccc solid;}
.woocommerce input[type=text], .woocommerce textarea{border:1px #ccc solid; padding:4px;}
form.woocommerce-ordering select{ padding:5px; color:#777777;}
.woocommerce table.shop_table th, .woocommerce-page table.shop_table th{ font-family:'Roboto',san-serif; color:#f25f43;}
.woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price{ color:inherit !important;}
h1.product_title, p.price{ margin-bottom:10px;}
.woocommerce table.shop_table th, .woocommerce-page table.shop_table th{ font-family:'Roboto',san-serif; color:#f25f43;}
.woocommerce ul.products li, #payment ul.payment_methods li{ list-style:none !important;}
.woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price{ color:inherit !important;}
.woocommerce table.shop_table th, .woocommerce table.shop_table td{ border-bottom:0px !important}

/* Text meant only for screen readers. */
.screen-reader-text {clip: rect(1px, 1px, 1px, 1px);position: absolute !important;	height: 1px;width: 1px;	overflow: hidden;}
.screen-reader-text:focus {	background-color: #f1f1f1;	border-radius: 3px;	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);	clip: auto !important;	color: #21759b;	display: block;
	font-size: 14px;font-size: 0.875rem;font-weight: bold;	height: auto;left: 5px;	line-height: normal;padding: 15px 23px 14px;text-decoration: none;	top: 5px;	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}
/* ============= Contact Page =========== */
.wpcf7{ margin:30px 0 0; padding:0;}
.wpcf7 input[type="text"], .wpcf7 input[type="tel"], .wpcf7 input[type="email"]{ width:40%; border:1px solid #cccccc; box-shadow:inset 1px 1px 2px #ccc; height:35px; padding:0 15px; color:#797979; margin-bottom:0;}
.wpcf7 textarea{width:60%; border:1px solid #cccccc; box-shadow:inset 1px 1px 2px #ccc; height:150px; color:#797979; margin-bottom:25px; font:12px arial; padding:10px; padding-right:0;}
.wpcf7 input[type="submit"]{background-color:#f25f43; width:auto; border:none; cursor:pointer; font:18px 'Roboto',san-serif; color:#ffffff; padding:10px 40px; border-radius:3px;}	

/* ============= Comment Form ============ */
h1.screen-reader-text{font:22px 'Roboto',san-serif;}
.site-nav-previous, .nav-previous{ float:left;}
.site-nav-next, .nav-next{ float:right;}
h3#reply-title{font:300 18px 'Roboto',san-serif;}
#comments{ margin:30px 0 0; padding:0;}
nav#nav-below{ margin-top:15px;}

body.wp-site-logo .logo h1{display:none;}
.site-logo-link{display:table; padding:15px 0 15px 0;}
.nivoSlider{height:auto; min-height:737px;}
.nivoSlider img{ width:auto; max-height:765px;}
.toppadding{padding: 195px 0 85px !important;}
.toppadding2{padding: 150px 0 85px !important;}

.spacer60{height:60px !important; clear:both;}
body.wp-custom-logo .logo h1{display:none;}